.App {
  text-align: center;
  width:100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1{
  color:#3f51b5;
}

.filterContainer{
 position:relative;
 width:100%;
 display:flex;
 justify-content: center;
 margin-top:50px;
}

.ButtonContainer{
  margin: 20px 0px 20px 0px;
  display:flex;
  justify-content: center;
}

.ButtonContainer Button{
  margin:10px;
}

.filterContainer > div{
  width: 200px !important;
  margin-left:10px!important;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.svgLoader {
  animation: spin 0.5s linear infinite;
  margin: auto;
}
.divLoader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}